<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="maincss.css">         
     
     <script src="angular.min.js"></script>
	 
</head>
<body ng-app="myApp">

<div id="firstController" ng-controller="myController">
<nav style="height:50px;boder:1px solid teal;width:100%;">
       <a class="btn btn-success" href="/"> Main </a>
	   <a class="btn btn-info" href="/ang"> Angular </a>
	   <a class="btn btn-info" href="../"> Some link </a>
	   <a class="btn btn-info" href="../"> Some link </a>
</nav>
   <header>
  <div class="half-70">
  <h1>May the Force be with you!</h1>
  <h4>You are on the main page of this application.
  Here you can see mane different and common parts of project. 
At present it could not be called the project. Now it only my 
trainning room-server.  </h4>
<h4>You can refer to another part of this project by clicking on the nav section.</h4>
<h4>There might be buttons for MongoDB, AngularJS, Node, Animations and Contatcs.</h4>
  </div>
  <div class="static-div half-30">
   
   <h3>{{ clock.now }}</h3>
  </div>
  </header>
  
<a class="btn btn-danger" href="../add">+ Add</a>
<img src="mlab.png">

  <table class="table table-bordered">
      <tr class="success" >
	       <th> № </th>
	       <th>Customer</th>
		   <th>Country</th>
		   <th>email</th>
           <th>phone</th>
		   <th>Action</th>
	</tr>
  <% for(var i=0; i<quotes.length; i++) {%>
    <tr class="quote">
	  <td><%= quotes[i].id %></td>
      <td><%= quotes[i].name %></td>
      <td><%= quotes[i].city %></td>
	  <td><%= quotes[i].email %></td>
	  <td><%= quotes[i].phone %></td>
	  <td width="120px;">
	   <a class="btn btn-success" href="../quotes/del/<%= quotes[i].id %>"> Del </a> 
	      <a class="btn btn-danger" href="../quotes/edit/<%= quotes[i].id %>"> Edit </a>
	  </td>
    </tr>
  <% } %>
  </table>
  <br> 
  
  </div> 
  
  
  <script src="main.js"></script>
 <script>
 
 </script>
</body>
</html>
